@import '~antd/dist/antd.css';

.hidden {
  display: none;
}

.visible {
  position: absolute;
  background: #fff;
  z-index: 9;
  color: #000;
  width: 100%;
  max-width: 700px;
  box-shadow: -1px 16px 17px 0px #e7e7e7;
  max-height: 300px;
  overflow-y: scroll;
  padding: 15px;
  right: 20px;
  top: 65px;
}

.bold {
  font-weight: 600;
  font-size: 14px;
  margin-right: 6px;
}

.card-slug {
  flex: 0 1 40% !important;
}